.app{
	min-width: 6000px;
	position:fixed;
	top: 0;
	left: 0;
}
.page{
	width: 1300px;
	min-height: 768px;
	display: inline-block;
}

#one{
	background: #B8DCE2;
	position: absolute;
	top: 0;
	left: 0px;
}
#two{
	background-color: #F4F0EC;
	position: absolute;
	top: 0;
	left: 1300px;
}
#three{
	background-color: #B8DCE2;
	position: absolute;
	top: 0;
	left: 2600px;
}
#four{
	background-color: #123123;
	position: absolute;
	top: 0;
	left: 3900px;
}
.object{
	position: absolute;
}
.mainLevel{
	margin-top: 60px;
}
#cover{
	top: 150px;
	left: 525px;
}

#title{
	top: 250px;
	left: 70px;
}


#couch{
	left: 350px;
	top: 350px;
}
.lookLeft{
	left: 900px;
	top: 150px;
	z-index: 3002;
}
.lookRight{
	left: 1300px;
	top: 150px;
	z-index: 3001;
}
#window{
	left: 1700px;
	top: 200px;
}
#picture{
	left: 1350px;
	top: 300px;
}

.transfade{
	width:2000px;
	height: 800px;
	background-color: rgba(0,0,0,1);
	margin-top: 0;
	z-index: 3000;
}